.about-template-top{
  display: flex;
  padding:10vmax;
  background-color: #0E2643;
}

.about-template-text{
h1{
  margin-top:40px;
    font-size: 2rem;
    color:white;
    font-weight: bold;
  }
  p{
    color:white;
    span{
      color:var(--primary-color)
    }
  }
}

